@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
 body
 {
 	height: 900px;
 }
 
 header
 {
 	background: url("header1.jpg");
 	text-align: center;
 	width: 100%;
 	height: auto;
 	background-size:cover;
 	background-attachmnet: fixed;
 	position: relative;
 	overflow: hidden;
 }